*, *::after, *::before{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}


body{
    margin:0;
    background-color:rgb(148, 148, 148);
}

.header{
    width:100vw;
    height:20vh;
    background-color: rgb(22, 109, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:rgb(196, 245, 196);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.info{
    color:rgb(22, 109, 22);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


#reset-button{
    width:160px;
    height:50px;
    background-color: rgb(196, 245, 196);
    border: 2px solid rgb(22, 109, 22);
    border-radius: 3px;
    color:rgb(22, 109, 22);
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
    margin: 10px;
}

#reset-button:hover{
    background-color: beige;
}

#gameboard{
   width: 100vw;
   height:100vh;
   display: grid;
   justify-content: center;
   align-content: start;
   grid-template-columns: repeat(3, auto);
   padding: 50px 0px;
   margin:50px 0px;
}


.cell{
    width:100px;
    height:100px;
    border:2px solid rgb(22, 109, 22, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom:none;
}

.x::before,
.x::after{
    content:"";
    position: absolute;
    width:20px;
    height:80px;
    background-color: rgb(196, 245, 196);
}

.x::before{
    transform:rotate(45deg)
}

.x::after{
    transform:rotate(-45deg)
}

.circle::before,
.circle::after{
    content:"";
    position: absolute;
    border-radius: 50%;
}

.circle::before{
    width:80px;
    height:80px;
    background-color:rgb(22, 109, 22);
}

.circle::after{
    width:70px;
    height:70px;
    background-color:rgb(196, 245, 196);
}

#game-over{
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgb(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: beige;
    font-size: 3rem;
    font-weight: bold;
    flex-direction: column;
}

p{
    margin:5px;
}

#game-over.show{
    display: flex;
}